# Homework 1c Part 3: SQL

To start with, if you felt the class was unclear, check out the following tutorial: https://mode.com/sql-tutorial/introduction-to-sql/

Now! We'll be using sqlite to access a database. Start by downloading the sql lite file and putting it in the same directory as this notebook: https://www.kaggle.com/datasets/kaggle/sf-salaries (hit the 'download' button in the upper right). Check out the description of the data so you know the table / column names.

The following code will use sqlite to create a database connection.

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("database.sqlite")
crsr = conn.cursor()

Before we proceed, please note that every task **must be completed using a single SQL query**, unless mentioned otherwise or given as prompt.     
(e.g. using print statements are fine, but you should not be using pandas library to work with the dataset.)

# Exploration

Problem 1:

Try to create a query that gives you a data frame of the EmployeeName, JobTitle, and BasePay from the salaries table.

In [ ]:

query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 2.

Modify your query from Problem 1 to limit it to the year 2012.

In [ ]:
query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 3:

Further limit the table to the year 2012, employees making under 150,000, and sort in descending order by salary.

In [ ]:
query = ''

df = pd.read_sql(query, conn)
df.head()

# Aggregation

Problem 4:

Get the average base pay from the table.

In [ ]:
query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 5:

Produce and print the head of a dataframe that shows the average pay for each year (only use a single, simple query). Your result should have a column for the year and a column for the average base pay.

In [ ]:
query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 6:

Create a dataframe with averages of base pay, benefits, and overtime for each job title, as well as a column with the average of these three values.

In [ ]:
query = ''
df = pd.read_sql(query, conn)

# Table Creation

Problem 7:

Now we'll create our own table in our database. Separate the Salaries table by Year, and add it back to the database. (You may use basic python to complete the task, however, should still use SQL to query the data.)

In [ ]:
for y in ['2011','2012','2013','2014']:
    query = ""
    df = pd.read_sql(query, conn)
    df.to_sql(name='Y'+y, con=conn, if_exists='replace')

# Table Joining

Problem 8:

We'll move on to a new dataset for the next steps.
Download the dataset from here (https://www.kaggle.com/datasets/luizpaulodeoliveira/imdb-project-sql) and load the sqlite file same as before. Start by just selecting everything in the "movies" table to see what it looks like.

In [ ]:
conn = sqlite3.connect("movies.sqlite")
query = ''

df = pd.read_sql(query, conn)
df.head()

Problem 9:

Create a dataframe that includes the entire contents of "movies" table as well as the director's name.

In [ ]:
query = ''
df = pd.read_sql(query, conn)

print(df.head(5))
df.size

# Analysis

The next few problems will be more involved! You'll need to combine some concepts you've learned. For each cell, show your work.
\
Remember, the answers should be in **a single query**.

\
Problem 10:

What is the average budget used for the top 10 grossing movies?

Problem 11:

Which directors have the highest overall voting average? - show the top 5 directors' name and their average rating

Problem 12:

What are the top five directors by how much their average budget is?